body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); 
    background-size: cover;
    color: #e6f4dc;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #cde1c5;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #679062; 
}

section {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    margin: 20px;
    border-radius: 10px;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    transition: transform 0.3s;
}

.card img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05); 
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #add097;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #9cba90;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #679062; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.social-media a {
    margin: 0 10px;
    color: #9cba90;
}
